body {
background: rgba(245,245,245,1);
background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 93%, rgba(245,245,245,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(7%, rgba(255,255,255,1)), color-stop(10%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,1)), color-stop(93%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 93%, rgba(245,245,245,1) 100%);
background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 93%, rgba(245,245,245,1) 100%);
background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 93%, rgba(245,245,245,1) 100%);
background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 93%, rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=1 );
}
.container {
	padding-left: 25px;
	background-color: white;
}
a:hover {
	text-decoration: none;
}

.black {
	color: black;
}
